

body {
  background: white;
  font-weight: 300;
  font-size: 13px;
  height: 100%;
 font-family: Open Sans, Helvetica;
 overflow:hidden;
 
}
a:link {color: #2262cc;text-decoration: none;}
a:active {color: #2262cc; text-decoration: underline; }
a:visited {color: #2262cc; text-decoration: none;}
a:hover {color: #2262cc; text-decoration: underline; }

.mobile-only {
	display: none; 
	margin: -10px 10px 0;
	background-color: #EEE;
	padding: 10px;
	margin-top:40px;
	margin-bottom:5px;
}
.ie-only {
display: none; 
	margin: -10px 10px 0;
	background-color: #EEE;
	padding: 10px;
	margin-top:40px;
	margin-bottom:5px;
}

#banner-identity {
	height:0px;
}


.svgclass {
	/*pointer-events: none;*/
	z-index: 7;
}

.wrapper {
  background: grey;
}
.container, .container-inner {
	height: 100%;
	background:none;
}
.legendimg {
margin-left:650px;
display:none;
}
#legendimageid {
width:271px;
height:14px;
}


#content {
width: 1000px;
height: 100%;
background: none;
z-index: -25;
background-color: none;
margin: 0% auto;
text-align: center;
-webkit-box-shadow: none;
box-shadow: none;
min-width: 0px;
margin-top: -20px;

}
#whitebackground {
position: fixed;
width:1000;
height: 900px;
background-color: none;
opacity:.01;
margin: 0% auto;  
text-align: center;
z-index: -3;
}

#headerbuttons {
position: fixed;
text-align: center;
margin: auto;
left: 0;
right: 0;	
width: 1000px;
height:63px;
-webkit-transform: translateZ(0);

}
#header {
height:63px;
background-color:white;
position:fixed;
text-align: center;
margin: auto;
left: 0;
right: 0;	
-webkit-transform: translateZ(0);
}
.mobile {
height:0px;
width:0px;
position:absolute;
display:none;
}
.mobileflyer {
display:none;
position:fixed;
height: 25px;
}

.buttons {
	margin-top: 100px;
	height:20px;
	width: 100%;
-webkit-transform: translateZ(0);

}
.sectionButton {
	font-weight: 600;
	font-family: Open Sans;
	color: #B3B3B3;
	padding: 22px;
	font-size: 13px;
	letter-spacing: 1px;
	cursor: pointer;
	-webkit-transform: translateZ(0);
	
}
.sectionButton:hover {
	color: black;
	text-decoration:none;
}
.selectedSectionButton {
	color: black;
}
#titlebutton {
	padding-right: 100px;
}
#donatebutton {
	padding-left: 250px;
	font-size: 15px;
	font-weight: bold;
}
#propublicabutton {
	color: white;
	font-family: Georgia;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: -1px;
	padding-right: 20px;
}
#propublicabutton:hover {
	color: #00AFF4;
	
}
#socialbuttonplaceholder{
	opacity: 0;
	padding-left: 100px;
}

#headerimg {
position: fixed;
text-align: center;
margin: 0% auto;
left: 0;
right: 0;	
}

/* 1. Intro Keyframe
--------------------------------------- */

#creditsid {
width:1000px;

background-color: grey;
opacity:.99;
 margin: 0% auto;
  z-index:-20;
text-align: left;
}


#intro {

width:1000px;

background-color: white;
opacity:.99;
 margin: 0% auto;
  
text-align: center;
}
.loadandscroll {
	text-align: center;
	width: 100%;
	margin: 0% auto;
	left:0;
	right:0;
	margin-top:-10px;
}
#loadinglizard {
	fill:#6FD03D;

}
#loadinglizardbackground {
	fill: #D1D2D4;
}
.loading {
	opacity:1;
	position:absolute;
	margin: 0% auto;
	left:0;
	right:0;
	-webkit-transition: opacity 0.2s ease;
       -moz-transition: opacity 0.2s ease;
        -ms-transition: opacity 0.2s ease;
         -o-transition: opacity 0.2s ease;
            transition: opacity 0.2s ease;
}

.scrollbuttonsvg {
	margin-top:-20px;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translateZ(0);
}

.scrolling {
	opacity:0;
	position:fixed;
	margin: 0% auto;
	left:0;
	right:0;
	margin-top: 415px;
	-webkit-transition: 0.5s ease;
       -moz-transition: 0.5s ease;
        -ms-transition: 0.5s ease;
         -o-transition: 0.5s ease;
            transition: 0.5s ease;
    
       -webkit-transform-style: preserve-3d;     
    
	
}

.scrollbuttonsvg {
	margin-top:-20px;
	-webkit-transform-style: preserve-3d;
}
#scrollbutton {
	fill: #D1D2D4;
	z-index:25;
	
	-webkit-transform-style: preserve-3d;

}

#scrollbutton:hover {
	fill:#6FD03D;
	cursor: pointer;
	cursor: hand;
}



.contributorbox {
text-align: left;
margin-left: 770px;
margin-top: 270px;
}
.contributortitle {
font-size:11px;
letter-spacing:.5px;
color:#808080;
font-weight:600;
font-family:Open Sans;
}
.contributor {
margin-top:-20px;
font-style:oblique;
font-family:Georgia;
font-weight:550;
}

.howto {
position: absolute;
width:1000px;
opacity:.99;
text-align: center;
}

.howtotext {
color: #6D6E71;
font-size: 14px;
font-family: Open Sans, Helvetica;
pointer-events: all;
-webkit-user-select: all;
-khtml-user-select: all;
-moz-user-select: all;
-o-user-select: all;
user-select: all;
letter-spacing:1px;
text-align: center;
width: 480px;
margin-left:auto;
margin-right:auto;
line-height: 1.3em;
}

#vis {
width:1000px;

background-color: white;
opacity:.99;

  pointer-events: all;
text-align: left;
margin-left: 240px;
z-index:5;
}

.viscopy {
position: fixed;
margin-top: 165px;
color:black;
opacity:0;
pointer-events: all;
display:none;
z-index: 5;
}
.viscopy .vistitle {
font-family: Open Sans;
font-size: 32px;
letter-spacing: 3px;
font-weight: 600;
pointer-events: all;
z-index: 5;
}
.viscopy .visstat {
font-family: Georgia;
font-size: 18px;
position: relative;
margin-top: -26px;
pointer-events: all;
opacity: 0;
}
.viscopy .visguff {
font-family: Georgia;
font-size: 15px;
margin-top:41px;
position: relative;
width:690px;
z-index: 5;
pointer-events: all;
line-height: 1.65em;
}
.showmetext {
	color: red;
	cursor: pointer; 
	cursor: hand; 
	top: 100px;
	text-decoration: none;
}
.showmetext:hover {
	color:white;
	text-decoration: none;
}
.showmebox {
background-color:#F1F2F2;
border-radius: 2px;
padding: 3px;
pointer-events: all;
z-index: 25;
}
.showmebox:hover {
background-color:black;
}
.legendimg {
	position:fixed;
	margin-top:350px;

}

.endingfooter {
	background-color:#D1D2D4;
	color:black;
	width:100%;

	text-align:center;
	margin: 0% auto;
	left:0;
	right:0;
	position:fixed;
	bottom:0;
	z-index:31;
	-webkit-transform: translateZ(0);
	opacity:0;
	pointer-events:none;
}
.footerlink {
	text-align:center;
	color: #4D4D4D;
	/*padding-left: 39px;
	padding-right: 39px;*/
	font-size: 13px;
	border-right: 1px solid #666666;
padding-right: 5px;
padding-left: 2px;
	cursor: pointer;
	-webkit-transform: translateZ(0);

font-family: Helvetica Neue, Arial, Helvetica, Sans-serif;
font-style: normal;
font-weight: 400;
line-height: 2.4em;
pointer-events:all;
	
}
.footerlink:hover {
	color: black;
	text-decoration:none;
}
#lastfooterlink {
border-right: none;
}


.datasources {
position:fixed;
top:545px;
height:0px;
margin-left:167px;
text-align: left;
pointer-events:none;
z-index:26;
color:#58585A;
display:none;
-webkit-transform-style: preserve-3d;
		-webkit-transform: translateZ(0);
}

.bottom-sources {
	color: #000;
	text-align: left;
	position: fixed;
	top: 800px;
	z-index: 100;
	margin: 0 80px;
	-webkit-transform-style: preserve-3d;
		-webkit-transform: translateZ(0);
}

.bottom-sources .source {
	width: 100%;
}

.visiblesource {
display:block;
}
.sourcetitle {
margin-top:50px;
	font-weight:700;
	font-size:13px;
	letter-spacing:1.5px;
	pointer-events:none;
	-webkit-transform-style: preserve-3d;
		-webkit-transform: translateZ(0);
}
.source {
margin-top:-15px;
font-size:14px;
width:530px;
line-height: 1.5em;
pointer-events:none;
	font-weight:500;
	-webkit-transform-style: preserve-3d;
		-webkit-transform: translateZ(0);
}
#helpbuttonid {
width:586px;
  height:395px;
}
.helpbuttonlabel {
	fill:#939598;
	font-weight:500;
	pointer-events:all;
	

}

.helpbuttondiv {
	pointer-events:all;	
	position: fixed;
	margin-top: 236px;
	margin-left:105px;
	-webkit-transition: opacity 0.2s ease;
       -moz-transition: opacity 0.2s ease;
        -ms-transition: opacity 0.2s ease;
         -o-transition: opacity 0.2s ease;
            transition: opacity 0.2s ease;
  z-index: 15;
  display: none;
  
}

.dragtooltip {
display:none;
pointer-events:all;	
	position: fixed;
margin-top: 662px;
	margin-left:88px;
}
#dragtooltipimageid {
	width:371px;
	height:90px;
	cursor:pointer;
	cursor:hand;
}


.helpbuttonquestionmark {
	font-family: Helvetica;
	font-size:18px;
	fill:white;
	font-weight: 800;
}
.visiblehelp {
	display:block;
}
.helpbutton {
	pointer-events: all;
	cursor: pointer;
	fill: #CCCCCC;
}
.helpbutton:hover {
	fill:black;	
}
.helpbuttonhover {
	fill:black;
}

.copy {
position: fixed;
margin-top: 150px;
width:1000px;
color: black;
-webkit-user-select: all;
-khtml-user-select: all;
-moz-user-select: all;
-o-user-select: all;
user-select: all;
text-align: center;

opacity:1;
/*
-webkit-transition: opacity 0.2s ease;
       -moz-transition: opacity 0.2s ease;
        -ms-transition: opacity 0.2s ease;
         -o-transition: opacity 0.2s ease;
            transition: opacity 0.2s ease;

-webkit-transform: translateZ(0);*/


height:300px;
pointer-events: all;
z-index:11;

}
.credits {
position: fixed;
margin-top: 200px;
width:1000px;
margin-left:240px;
color: black;

-webkit-user-select: all;
-khtml-user-select: all;
-moz-user-select: all;
-o-user-select: all;
user-select: all;


opacity:0;
/*
-webkit-transition: opacity 0.2s ease;
       -moz-transition: opacity 0.2s ease;
        -ms-transition: opacity 0.2s ease;
         -o-transition: opacity 0.2s ease;
            transition: opacity 0.2s ease;

-webkit-transform: translateZ(0);*/


height:300px;
pointer-events: all;
z-index:-11;

}

.copy .h1 {
font-family: "ff-meta-serif-web-1","ff-meta-serif-web-2","Georgia",serif;
font-size: 46px;
font-weight: 600;
pointer-events: all;
margin: -5px 0 15px 0;
	-webkit-transform-style: preserve-3d;
		-webkit-transform: translateZ(0);
}

.copy .byline {
font-family: Georgia;
font-size: 16px;

font-style:oblique;
position: relative;
margin-top: -20px;
pointer-events: all;
/*
margin-top:-15px;
letter-spacing:.3px;
 font-size: 15px;*/
 	/*-webkit-transform-style: preserve-3d;*/
}
.copy .authorname {
	font-weight:600;
}

.copy .date {
	color: #939598;
 font-size: 14px;
 pointer-events: all;
}


.copy .guff {
font-family: Georgia;
font-size: 18px;

position: relative;
/*width:965px;*/
width:810px;
margin-left:auto;
margin-right:auto;
pointer-events: all;
margin-top:-10px;
z-index:11;
}
.italic {
font-style: oblique;
}

.researchers {
	cursor:pointer;
	cursor: hand;
	pointer-events: all;
}
.sup {
vertical-align: super;
font-size: small; 
cursor: pointer;
cursor: hand;
}


.loadindicator {
margin-top:15px;
margin-bottom:0px;
opacity:1;
font-weight: 600;
	font-family: Open Sans;
	color: #999999;
	font-size: 13px;
	letter-spacing: 1px;
	cursor: pointer;
	-webkit-transform: translateZ(0);
}

.scrollcommand {
margin-top:-6px;

opacity:0;
font-weight: 600;
	font-family: Open Sans;
	color: #999999;
	font-size: 13px;
	letter-spacing: 1px;
	cursor: pointer;
	-webkit-transform: translateZ(0);
}

.stats {
	position: fixed;
	text-align: left;
	margin-top: 463px;

}

.number {
	font-family: Georgia;
	font-size: 50px;
	color:black;
	opacity: 0;
}
.visnumber {
	color:black;
}
.deselectednumber {
	color: #D1D3D4;
}
.group {
	font-family: Open Sans;
	font-size: 14px;
	font-weight: 700;
	letter-spacing:.95px;
	color:#3A3A3C;
	margin-top:-31px;
	opacity: 0;
}
.deselectedgroup {
	color: #D1D3D4;;
}

.statdiv {

	-webkit-transition: opacity .2s ease-in;
       -moz-transition: opacity .2s ease-in;
        -ms-transition: opacity .2s ease-in;
         -o-transition: opacity .2s ease-in;
            transition: opacity .2s ease-in;
}

#statsid {
	opacity: 0;
}

#statdiv0 {
	position:fixed;
	margin-left: 742px;
	
cursor: pointer;
}
#statdiv1 {
	position:fixed;
	margin-left: 546px;
	
cursor: pointer;
margin-top:-1px;
}
#statdiv2 {
position: fixed;
margin-left: 353px;

cursor: pointer;

}

#statdiv3 {
position: fixed;
margin-left: 165px;

cursor: pointer;
}



#froggydiv {
	position: fixed;	 
  width:1000px;
height:100%;
  background-color:#FFF;
 
  margin: 0% auto;
  left: 0;
  right: 0;
	
	margin-top:270px;
	/*opacity:0;
	
	-webkit-transition: opacity .2s ease-in;
       -moz-transition: opacity .2s ease-in;
        -ms-transition: opacity .2s ease-in;
         -o-transition: opacity .2s ease-in;
            transition: opacity .2s ease-in;*/
            
    pointer-events: none;
    z-index:-10;
    display:none;
    
}
/*
#amphibiansviddiv {
position: fixed;
margin-top: 30px;
opacity: 0;
z-index:-1;
pointer-events: none;
}*/


#testrect{
	position: static;
	fill: red;
}


#chart {
text-align: left;
position: fixed;
z-index: 4;
    pointer-events: none;
-webkit-transform: translateZ(0);
}
#ttipdiv {
	z-index: 12;
	width: 2000px;

	position:fixed;
}

#loading {
position: fixed;
	margin-top: 380px;
	/*margin-left:auto;
margin-right:auto;
width:100%;*/
 text-align: center;


	
}

#scrollingpart {
opacity:0;
position: fixed;
	 width:1000px;
 -webkit-transition: opacity .2s ease-out;
	-moz-transition: opacity .2s ease-out;
	 -ms-transition: opacity .2s ease-out;
      -o-transition: opacity .2s ease-out;
         transition: opacity .2s ease-out;
}

#loadingpart {
	 opacity:1;
	
	-webkit-transition: opacity .2s ease-out;
       -moz-transition: opacity .2s ease-out;
        -ms-transition: opacity .2s ease-out;
         -o-transition: opacity .2s ease-out;
            transition: opacity .2s ease-out;
}

#backgroundlizardicon{
position: fixed;
 fill: #BCBEC0;
width:1000px;


}

#lizardicon{
position: fixed;
 /*fill: #FFAF1E;*/
 fill:#05AAE5;
  width:1000px;
}
 

 
#loadingicon {
 text-align: center;
	position: fixed;
    /*background:red;*/

    height:500px;
    -webkit-clip-path: url(#clip1);
    -moz-clip-path: url(#clip1);
    -ms-clip-path: url(#clip1);
    clip-path: url(#clip1);
     z-index:12;
     
    width:1000px;  
     
}

#clippathdiv {
position: fixed;
	width:500px;
	height:10px;
	margin-left: 0px;
	/*background:red;*/
}




/*
#frogvideodiv {
position: absolute;
margin-top: 200px;
z-index:-10000000000000000000000000000;
	
}*/




#bg {
	position: absolute;
	width: 100%;
	height: 100%;
	margin-top:100px;
	margin-left:0;
	display:block;
	z-index:-27;
	opacity:.99;
	
}






#example_video_1:hover { cursor:pointer; }
.vjs-control-bar { display:none!important; }
.vjs-loading-spinner {display:none !important;} 


.speciestextdiv {
	position: fixed;
	margin-top: 55px;
	text-align: center;
	width: 400px;
	opacity: 0;
	
	-webkit-transition: opacity .4s ease;
       -moz-transition: opacity .4s ease;
        -ms-transition: opacity .4s ease;
         -o-transition: opacity .4s ease;
            transition: opacity .4s ease;	
	
}

#amphibiansviddiv {
position: fixed;
top: 162px;
opacity: 0;
z-index:-1;
pointer-events: none;
margin-left: 65px;
}

#mammalsviddiv {
position: fixed;
top: 162px;
opacity: 0;
z-index:-1;
pointer-events: none;
display: 'block';
margin-left: 40px;
}

#reptilesviddiv {
position: fixed;
top: 142px;
opacity: 0;
z-index:-1;
margin-left: -20px;
pointer-events: none;
}
#birdsviddiv {
position: fixed;
top: 165px;
margin-left: 10px;
opacity: 0;
z-index:-1;
pointer-events: none;
}




.specieslabel-sciname {
   color: #939598;
	font-style:italic;
	
font-size: 13px;
pointer-events: none;
-webkit-user-select: all;
-khtml-user-select: all;
-moz-user-select: all;
-o-user-select: all;
user-select: all;
line-height: 1em

}

.specieslabel-name {
   color: white;
	margin-top: 4px;
font-size: 14px;
font-weight: bold;
font-family: Open Sans;
pointer-events: none;
line-height: 1em;
-webkit-user-select: all;
-khtml-user-select: all;
-moz-user-select: all;
-o-user-select: all;
user-select: all;
line-height: 1.1em;

}

.specieslabel-threat {
   color: #3A3A3C;
	margin-top: 5px;
font-size: 11px;
font-weight: 700;
font-family: Open Sans;
pointer-events: none;
line-height: 1em;
-webkit-user-select: all;
-khtml-user-select: all;
-moz-user-select: all;
-o-user-select: all;
user-select: all;
letter-spacing: 1px;
}

/* base CSS element */
.ttip {
display: block;
pointer-events: none;
 position: absolute;
  top: 0;
  /*width: 145px;*/
  padding: 8px;
  z-index: 100;
  background: black; 4px 8px no-repeat;
  color: black;
  height: 50px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 11px;
  padding-bottom: 12px;
	opacity: 0;
	
	-webkit-transition: opacity .05s ease;
       -moz-transition: opacity .05s ease;
        -ms-transition: opacity .05s ease;
         -o-transition: opacity .05s ease;
            transition: opacity .05s ease;
            
 z-index: 14;
   	
}

/* arrows - :before and :after */
.ttip:before {
   content: '';
    display: block;
    position: absolute;
    border-left: 9px solid transparent;
    border-top: 6px solid black;
    border-right: 9px solid transparent;
    bottom: -5px;
	left:50%;
	margin-left:-9px;
    pointer-events: none;
}


.ttip .ttlabel-species {
   color: #3A3A3C;
	width: 420px;
	margin-top: 0px;
font-size: 14px;
font-weight: bold;
font-family: Open Sans, Georgia;
pointer-events: none;
line-height: 1em;
-webkit-user-select: all;
-khtml-user-select: all;
-moz-user-select: all;
-o-user-select: all;
user-select: all;
}
.ttip .ttlabel-threat {
   color: #3A3A3C;
	width: 420px;
	margin-top: 4px;
font-size: 12px;

font-family: Open Sans, Georgia;
pointer-events: none;
line-height: 1em;
-webkit-user-select: all;
-khtml-user-select: all;
-moz-user-select: all;
-o-user-select: all;
user-select: all;
}

.familytooltip {
	width:350px;
	line-height: 2em;
}

.contextimagediv {
	opacity: .99;
	position: absolute;
	left: 0px;
	top: 0px;
	pointer-events: none;
	z-index: -28;
}

.contextlabel {
	fill: #939598;
	text-align: center;
	font-weight: 600;
	font-family: Open Sans;
	font-size: 12px;
	letter-spacing: 1px;
}

.contextlabelline {
	stroke: #A7A9AC;
}

.classrect {
	stroke: none;
	fill: none;
	opacity: 1;
	cursor: pointer;
	margin-left:auto;
margin-right:auto;
pointer-events: all;

}

.classchart {
	position: absolute;
	left: 0px;
	top: 0px;
	pointer-events: none;
	text-align: center;
}


.classdatachart {
position: absolute;
left: 0px;
pointer-events: none;
font-weight:500;
z-index: -3;
}

.classtitle {
position: relative;
top: 0px;
left: 0px;
color: black;
font-weight: bold;
font-size: 38px;
font-family: Georgia;
pointer-events: all;
line-height: .7em;
-webkit-user-select: all;
-khtml-user-select: all;
-moz-user-select: all;
-o-user-select: all;
user-select: all;
}

.classbodycopy1 {
position: relative;
top: 8px;
left: 285px;
color: black;
font-size: 15px;
font-family: Georgia;
pointer-events: all;
-webkit-user-select: all;
-khtml-user-select: all;
-moz-user-select: all;
-o-user-select: all;
user-select: all;
line-height: 1.5em;
width:560px;
letter-spacing:.3px;
}

.classbodycopy2 {
position: relative;
top: 14px;
left: 285px;
color: black;
font-size: 15px;
font-family: Georgia;
pointer-events: all;
-webkit-user-select: all;
-khtml-user-select: all;
-moz-user-select: all;
-o-user-select: all;
user-select: all;
line-height: 1.5em;
width:560px;
letter-spacing:.3px;
}

.classstat {
position: relative;
top: -12px;
left: 285px;
color: black;

font-size: 14px;
font-family: Open Sans, Helvetica;
pointer-events: all;
line-height: 1em;
font-weight: bold;
-webkit-user-select: all;
-khtml-user-select: all;
-moz-user-select: all;
-o-user-select: all;
user-select: all;
letter-spacing:1px;
}



.legendhealthy {
position: relative;

left: 300px;

}
.legendhealthydesc {
position: absolute;
top: -25px;
left: 575px;
color: #3A3A3C;
font-size: 12px;	
font-family: Open Sans, Georgia;
pointer-events: all;
line-height: 1.1em;
-webkit-user-select: all;
-khtml-user-select: all;
-moz-user-select: all;
-o-user-select: all;
user-select: all;
z-index: 2;
width:200px;
font-weight:600;

opacity: 0;

-webkit-transition: opacity .1s ease;
       -moz-transition: opacity .1s ease;
        -ms-transition: opacity .1s ease;
         -o-transition: opacity .1s ease;
            transition: opacity .1s ease;
}

.legendthreatened {
position: relative;

left: 450px;

}
.legendthreateneddesc {
position: absolute;
top:-25px;
left: 715px;
color: #3A3A3C;
font-size: 12px;	
font-family: Open Sans, Georgia;
pointer-events: all;
line-height: 1.1em;
-webkit-user-select: all;
-khtml-user-select: all;
-moz-user-select: all;
-o-user-select: all;
user-select: all;
z-index: 2;
width:180px;
font-weight:600;
opacity: 0;

-webkit-transition: opacity .1s ease;
       -moz-transition: opacity .1s ease;
        -ms-transition: opacity .1s ease;
         -o-transition: opacity .1s ease;
            transition: opacity .1s ease;
}

.legendbackground {
position: relative;

left: 548px;

}

.legendbackgrounddesc {
position: absolute;
top: 0px;
left: 5px;
color: #3A3A3C;
font-size: 12px;	
font-family: Open Sans, Georgia;
pointer-events: all;
line-height: 1.1em;
-webkit-user-select: all;
-khtml-user-select: all;
-moz-user-select: all;
-o-user-select: all;
user-select: all;
z-index: 2;
width:260px;
font-weight:600;
opacity: 0;

-webkit-transition: opacity .1s ease;
       -moz-transition: opacity .1s ease;
        -ms-transition: opacity .1s ease;
         -o-transition: opacity .1s ease;
            transition: opacity .1s ease;
}


.legendlabel {
	color: #A7A9AC;
	margin: 0;
	position: absolute;
	font-size: 11px;
	font-weight:700;
	font-family: Open Sans, Georgia;
	pointer-events: all;
	line-height: 1.2em;
	-webkit-user-select: all;
	-khtml-user-select: all;
	-moz-user-select: all;
	-o-user-select: all;
	user-select: all;
	z-index: 2;
	margin-left:0px;
	/*cursor: pointer;*/
	width:250px;
	top: -303px;
	letter-spacing: 1px;
}


.highlightedLegendLabel {
	color: #3A3A3C;

}





.threatenedspecies {
	fill: #FF0000;
}

.ddspecies {
	fill: #E7E8E9;
}


.threatenedthighlighted {
	fill: #9B0000;
	stroke: none;
}

.healthyhighlighted {
	fill: #B3B3B3;
	stroke: none;
}

.ddhighlighted {
	fill: #D1D2D4;
}



.healthyspecies {
	fill: #D1D2D4;
}

.unfocusthreatenedspecies {
	fill: #D27581;
	
}

.specieshighlighted {
	stroke: black;
	stroke-width: 1;
	
}

.speciesclicked {
	stroke: black;
	stroke-width: 1.8;
	fill:#05AAE5;
	/*fill: yellow*/
}

.familyhighlighted {
	fill: #414042;
}

.classDataLabel {
	fill: #999999;
	margin: 0;
	position: absolute;
	font-size: 11px;
	font-weight:600;
	font-family: Open Sans, Georgia;
	pointer-events: none;
	line-height: 1em;
	-webkit-user-select: all;
	-khtml-user-select: all;
	-moz-user-select: all;
	-o-user-select: all;
	user-select: all;
	margin-top: 0px;
	z-index: 2;
	margin-left:0px;
	letter-spacing: 1px;
	
}
.atriskclasslabel {
	fill: #FF0000;
}
.classdatabackgroundlabel {
	fill: #999999;
	margin: 0;
	position: absolute;
	font-size: 11px;
	font-weight:600;
	font-family: Open Sans, Georgia;
	pointer-events: none;
	line-height: 1em;
	-webkit-user-select: all;
	-khtml-user-select: all;
	-moz-user-select: all;
	-o-user-select: all;
	user-select: all;
	margin-top: 0px;
	z-index: 2;
	margin-left:0px;
	letter-spacing: .5px;
}
.classdatabackgroundline {
	stroke-width: 1.5px;
	stroke: black;
}

.highlightedClassDataLabel {
	fill: #3A3A3C;
	
		
}

.buttonlabel {
	fill: #BCBEC0;
	margin: 0;
	position: absolute;
	font-size: 11px;
	font-weight: 600;
	font-family: Open Sans, Georgia;
	pointer-events: all;
	line-height: 1em;
	-webkit-user-select: all;
	-khtml-user-select: all;
	-moz-user-select: all;
	-o-user-select: all;
	user-select: all;
	margin-top: 0px;
	z-index: 2;
	margin-left:0px;
	cursor: pointer;
}

.invisiblebuttonrect {
	cursor: pointer;
}

.classBar {
	cursor: pointer;
}

.classDataBar {
pointer-events: none;
}
.ddclassbar {
	stroke: #E6E6E6;
}

.invisibleClassDataBar {
	cursor: pointer;
}

.selectedthreatenedclassbar {
	fill: #F91C06;
}

.selectedhealthyclassbar {
	fill: #BCBEC0;
}

.selectedbackgroundclassbar {
	fill: #3A3A3C;
}



.highlightedthreatenedclassbar {
	fill: #9B0000;
}

.highlightedhealthyclassbar {
	fill: #81A178;
}

.highlightedbackgroundclassbar {
	fill: black;
}

.selectedbuttonlabel {
	fill: #3A3A3C;
}

.contextBackgroundRect {
	fill: #E7E8E9;
}




.focusthreatenedfamilyrect {
	fill: #FE0700;
}



.contextfamilyrect {
	fill: #D1D2D4;
}
.contextthreatenedfamilyrect {
	fill: #808285;
}
/* THIS IS WHAT YOU ARE LOOKING FOR*/
.highlightedcontextfamilyrect {
	fill: #CCCCCC;
}

.highlightedthreatenedcontextfamilyrect {
	fill: #FE0700;
}

.titlestaticlabel {
	fill: #3A3A3C;
	margin: 0;
	position: absolute;
	font-size: 36px;
	font-weight: bold;
	font-family: Open Sans, Georgia;
	pointer-events: all;
	line-height: 1em;
	-webkit-user-select: all;
	-khtml-user-select: all;
	-moz-user-select: all;
	-o-user-select: all;
	user-select: all;
	margin-top: 0px;
	z-index: 2;
	margin-left:0px;
}

.titleline {
	fill: #E7E8E9;
}

.focusstaticorderlabel {
	fill: black;
	margin: 0;
	position: absolute;
	
	
	font-weight: 600;
	font-family: Open Sans;
	font-size: 11px;
	letter-spacing: 1px;
	
	pointer-events: all;
	line-height: 1em;
	-webkit-user-select: all;
	-khtml-user-select: all;
	-moz-user-select: all;
	-o-user-select: all;
	user-select: all;
	margin-top: 0px;
	z-index: 2;
	margin-left:0px;
	
}

.focusorderline {
	stroke: #D1D2D4;
	
}

.focusorderlinehighlighted {
	stroke: #414042;
}

.focusorderlabel {
	margin: 0;
	position: absolute;
	
	fill: #939598;
	font-weight: 600;
	font-family: Open Sans;
	font-size: 12px;
	letter-spacing: 1px;
	
	
	pointer-events: none;
	line-height: 1em;
	-webkit-user-select: all;
	-khtml-user-select: all;
	-moz-user-select: all;
	-o-user-select: all;
	user-select: all;
	margin-top: 0px;
	z-index: 2;
	pointer-events: all;

}

.focusordernumber {

	position: absolute;
	fill: #939598;
	font-size: 12px;
	font-family: Open Sans, Georgia;
	pointer-events: none;
	line-height: 1em;
	-webkit-user-select: all;
	-khtml-user-select: all;
	-moz-user-select: all;
	-o-user-select: all;
	user-select: all;
font-weight: 600;
	z-index: 2;
	pointer-events: all;
}

.focusorderlabelhighlighted {
	fill: black;

	visibility: visible;
}

.contextorderline {
	/*stroke-dasharray:1,2;*/
	stroke: #CDCDCD;
	 
	stroke-width: .5;
	opacity:0;
}



.contextorderlabel {
	margin: 0;
	position: absolute;
	/*fill: #939598;
	font-size:11px;*/
	fill: grey;
	font-size: 8px;
	font-family: Open Sans, Georgia;
	pointer-events: none;
	line-height: 1em;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	margin-top: 0px;
	z-index: 2;
	margin-left:0px;
	opacity:0;

}

.contexthealthyspecies {
	fill: #D1D2D4;
}
.contextthreatenedspecies {
	fill: #808285
}


.highlightedcontextspecies {
	fill: #D1D2D4;
}

.highlightedcontextthreatenedspecies {
	fill: #FF0000;
}

.highlightedcontextspeciesbars {
	fill: #CCCCCC;
}


.focusfamilyinvisiblerect {
	pointer-events: all;
}




.familytooltip {
	margin: 0;
	position: absolute;
	/*color: #414042;
	font-size: 21px;*/
	
	color: black;
	font-weight: 600;
	font-family: Open Sans;
	font-size: 12px;
	
	

	
	
	
	pointer-events: none;
	line-height: 1em;
	-webkit-user-select: all;
	-khtml-user-select: all;
	-moz-user-select: all;
	-o-user-select: all;
	user-select: all;
	margin-top: 0px;
	z-index: 2;
	margin-left:0px;
}

.brush {
  /*fill: #E7E8E9;*/
 /* fill:#A7A9AC;*/
     pointer-events: all;
  shape-rendering: crispEdges;
   
   /*
   fill:-moz-linear-gradient(top, #5989bd,#336296)*/
   
    /*url(#brush-gradient);*/
  /*cursor: move;
  	-webkit-transition: fill 0.2s ease;
       -moz-transition: fill 0.2s ease;
        -ms-transition: fill 0.2s ease;
         -o-transition: fill 0.2s ease;
            transition: fill 0.2s ease;*/
            
}
.brush:hover {
	/*fill: yellow;*/
	
}
.brushlines {
stroke: white;
pointer-events: none;
stroke-width: 1.5;
opacity: .5;
}





.brushcontextwhitebackground {
    pointer-events: all;
	fill: white;
	stroke: #58585A;
  cursor: move;
  stroke-width: 1;
 /* stroke-dasharray: 1, 1, 50;
  stroke-width: 10;*/
}

.brushhelperline {
stroke: black;
  stroke-width: .8;
  }
  
  
.contextunhighlightbackground {
fill: #BABABB;
fill: white;
opacity: .3;
}

.brushbackground {

    fill: #E6E6E6;/*url(#brushbackground-gradient);*/
    stroke: white;/*#D1D3D4;*/
stroke-width: .7;
opacity:1;

}

.brushdotsleft {
	fill: #A7A9AC;
}
.brushdotsright {
	fill: #A7A9AC;
}

.brushhighlighted {
	/*fill: #FFF900;*/
	fill:#B3E6FC;
	
	-webkit-transition: fill 0.2s ease;
       -moz-transition: fill 0.2s ease;
        -ms-transition: fill 0.2s ease;
         -o-transition: fill 0.2s ease;
            transition: fill 0.2s ease;
}


.speciesanimated {
	fill: #05AAE5;
	stroke: #05AAE5;
	stroke-width: 2;
	
	-webkit-transition: fill 2s ease;
       -moz-transition: fill 2s ease;
        -ms-transition: fill 2s ease;
         -o-transition: fill 2s ease;
            transition: fill 2s ease;
}












a {
  color: #0088cc;
 text-decoration: none;
  pointer-events: all;
 
}
a:hover {
 
}

input,
.uneditable-input {
  display: inline-block;
  width: 172px;
  height: 12px;
  padding: 12px;
  margin-bottom: 9px;
  


	font-family: Open Sans;
	font-size: 12px;
	letter-spacing: 1px;
  
  
 /* line-height: 18px;*/
  
  border: 1px solid #ccc;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  pointer-events: all;
 
}
.dropdown {
 pointer-events: all;
  position: relative;
}
.dropdown-toggle {
  *margin-bottom: -3px;
}
.dropdown-toggle:active, .open .dropdown-toggle {
  outline: 0;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  text-indent: -99999px;
  *text-indent: 0;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  content: "\2193";
}
.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}
.dropdown:hover .caret, .open.dropdown .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}
.dropdown-menu {
 
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  
}
.dropdown-menu.bottom-up {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 5px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
  *width: 100%;
  *margin: -5px 0 5px;
}
.dropdown-menu a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
}
.dropdown.open {
  *z-index: 1000;
}
.dropdown.open .dropdown-toggle {
  color: #ffffff;
  background: #ccc;
  background: rgba(0, 0, 0, 0.3);
}
.dropdown.open .dropdown-menu {
  display: block;
}
.typeahead {
  margin-top: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
   text-align: left;
   
   pointer-events: all;
}
#searchid {
position:fixed;
	  min-height: 2px;
  padding: 2px;
  margin-bottom: 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
 text-align: left;
  display: none;
  pointer-events: all;
}

.focusrect {
	-webkit-transition: fill .1s ease;
       -moz-transition: fill .1s ease;
        -ms-transition: fill .1s ease;
         -o-transition: fill .1s ease;
            transition: fill .1s ease;
   
    pointer-events: all;
}

.focusgenusbackgroundrects {
	/*fill: url(#tallgenus-gradient);*/
	opacity: 1;

}

