/* CSS for social sharing icons */

.social_section .ss-icon.ss-social, .social_section .ss-icon, .social_section a  {
  color: #5D7B9B;
  cursor:pointer;
}
.social_section .ss-icon.ss-social:hover, .social_section a:hover {
  color:black;
  text-decoration:none;
}

.social_section {
  float: right;
}




/* CSS for takeaway box */

.anno-tweet {
  border-radius: 3px;
  padding: 0px 3px;
  transition: all 0.10s ease-in-out;
  -webkit-transition: all 0.10s ease-in-out;
  -moz-transition: all 0.10s ease-in-out;
  cursor:pointer;
  background: url("http://propublica.s3.amazonaws.com/projects/projectx/tweet_icon.png") no-repeat top left #e8eef1;
  padding-left: 24px;
  background-size: 13px;
  background-position: 5px 2px;
  text-decoration:none;
}

.anno-tweet:hover {
  background: url("http://propublica.s3.amazonaws.com/projects/projectx/tweet_icon_hover.png") no-repeat top left #d7dee1;
  padding-left: 24px;
  background-size: 13px;
  background-position: 5px 2px;
  text-decoration:none;
}
.anno-tweet a:hover {text-decoration:none}

.right-sidebar-media {
        width: 290px;
        float:right;
        margin: 0 0 12px 12px;
}
.right-sidebar-media h2 {
        font-size: 20px;
        font-weight: bold;
        font-family: "ff-meta-serif-web-1", "ff-meta-serif-web-2", "Georgia", serif;
        margin-bottom: 10px;
}
.right-sidebar-media ul {
        list-style: disc;
        margin-left: 1.2em;

}
.right-sidebar-media ul li {
        font-size: 13px;
        left: 1.2em;
        margin-right: 1.2em;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
padding-bottom:1.3em;
}

.right-sidebar-media p.definition .termtbd {
        text-transform: uppercase;
        font-weight: bold;
}