@media screen and (max-width: 480px) {
  .mobile-only { display: block;margin-top:120px;}
  .ie-only {display:none}

 #scrollingid {
display:none;
}
.loadandscroll {
display:none;
}
#ttipdiv {
display:none;
}
.endingfooter {
display:none;
}
.legendimg {
display:none;
}
.dragtooltip {
display:none;
}

#birdsviddiv, #reptilesviddiv, #amphibiansviddiv, #mammalsviddiv {
display: none;
}
body {
overflow:visible;
}
  #chart {
    width: 300px;
    overflow: hidden;
    height: 100%
    display:none;
  }

  #content {
    width: 300px;
    background: none;
  }

  #bodyid {
    height: 2000px !important
     
  }

  .container, .container-inner {
   background: none;
  }

  .contributorbox {
  margin-left:10px;
  margin-top: -150px;
  }
  .contributortitle {
  color:black;
 font-weight:800;
	font-size:9px;
	letter-spacing:1.5px;
}
#header {
}
#headerbuttons {
width: 100%;
height:35px;
background-color:black;
}
.buttons {
margin-top:7px
}
.sectionButton {
	padding: 11px;
	font-size:10px;
}

.sectionButton:hover {
color: red;
}
.sectionButton:active {
color: red;
}

.selectedSectionButton {
	color: red;
	
}
.copy .h1 {
font-size: 35px;
line-height: 1.35em;
}
  #whitebackground, #froggydiv {
    display: none;
  }

  #intro {
    position: absolute;
    width: 300px;
    margin: 0px auto;
  }

  .copy {
  width: 100%;
  margin-top: 85px;
  pointer-events:none;
  }
  .copy .guff {
    width: 100%;
    text-align: left;
    margin-left: 10px;
    pointer-events:all;
  
  }
  .copy .byline {
  font-size:14px;
  width: 250px;
  margin: 0px auto;
  margin-top: -10px;
  margin-bottom:20px;
  pointer-events:all;
  z-index:35;
  }

  .copy{
    position: relative;
  }
  /*
  #mammalsviddiv {
  opacity:1;
  position:absolute;
  margin-top:600px

  }*/

.sup {
font-size:18px;
vertical-align: baseline;
padding-left:5px;

}
  
.mobile {
margin-top: 810px;

display: block;
color:black;
width:300px;
height: 100%;
z-index: -5;
text-align: center;

}
.mobilegroup {
padding-top: 50px;

	position: relative;
}
.mobilevistitle {
position:relative;
font-size: 35px;
line-height: 1.35em;
font-family: Open Sans;
letter-spacing: 3px;
font-weight: 600;
margin: 0 auto;
left: 0;
right: 0;
margin-top:-10px;
}
.mobilevisguff {
font-family: Georgia;
font-size: 18px;
    width: 100%;
    text-align: left;
    margin-left: 10px;
    width:290px;
    -webkit-transform-style: preserve-3d;
}
.mobilevisim {
width:300px;
margin-left:0px;
-webkit-transform-style: preserve-3d;
}
.mobilevisgraph {
margin-top:7px;
margin-bottom:12px;
margin-left:10px;
-webkit-transform-style: preserve-3d;

}
.mobilefooter {
padding-top:65px;
height:200px;
text-align: left;
margin-left:10px;
padding-bottom:30px;
}
.sourcetitle {
	font-weight:800;
	font-size:9px;
	letter-spacing:1.5px;
}
.source {
margin-top:-12px;
font-size:12px;
width:300px;
}
.mobileflyer {
position:fixed;
background-color:#4787ED;
bottom: 0;
margin: 0% auto;
left:0;
right:0;
-webkit-transform-style: preserve-3d;
}
.mobileflyertext {
color:white;
font-size:12px;
margin-top: 3px;

}
.loadandscroll {
display:none;
}

}